{% extends 'main.html' %}

{% block title %}
Log in to X
{% endblock title %}

{% block content %}
    <h1>Happening now</h1>
    <h2>Login Today</h2>
    <p class="text-secondary lead">Egy ismeretlen bejelentkezést észeltünk az alábbi IP címről: {102.15.22.33} az alábbi időpontban {2024.06.02 15:43:22}</p>
    <p class="lead">Ha nem Ön volt, kérjük jelentkezzen be és ezt a munkamenetet kijelentkeztetjük!</p>
    <a class="btn btn-primary w-100" style="background-color:#000" href="{% url 'login' %}">Bejelentkezés</a>
{% endblock content %}